{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Hero Area Start ##### -->

<section class="hero-area">

    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
    {% for services in services %}
            <div class="slide-img bg-img" style="background-image: url({{services.item_photo.url}});"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>
                            <p>{{services.description | truncatechars:100}}</p>
                            <div class="welcome-btn-group">
                                <a href="{% url 'contact' %}" class="btn alazea-btn mr-30">CONTACT US</a>
                            </div>
                        </div>                                                                                                      
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Service Area Start ##### -->
<section class="intro-single text-capitalize">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h2 class="title-single" style="font-family: Aclonica; color:#000000">SERVICES</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <div class="title-link">
                            <a href="{% url 'services' %}">SERVICES
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="site-section">
    <div class="container">
        <div class="row">
        {% if services %}
            {% for services in services %}
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{services.get_absolute_url}}" class="unit-1 text-center">
                    <img src="{{services.item_photo.url}}" alt="Image" style="width: 400px; height:400px;"
                        class="img-fluid">
                    <div class="unit-1-text">
                        <h3 class="unit-1-heading">{{services.title}}</h3>
                        <p class="px-5">{{services.description | truncatechars:100}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="display-4 text-capitalize">no info available, please check back later</div>
        {% endif %}
        </div>
    </div>
</div>

<!-- ##### Service Area End ##### -->

<!-- ##### Portfolio Area Start ##### -->

<section class="intro-single text-capitalize">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h2 class="title-single" style="font-family: Aclonica; color:#000000">PRODUCTS</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <div class="title-link">
                            <a href="{% url 'products' %}">PRODUCTS
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch">
    {% if products %}
        {% for products in products %}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" style="margin-top: 50px;">
                <div class="h-entry">
                    <img src="{{products.photo.url}}" alt="Image" class="img-fluid rounded"
                        style="height: 250px; width: 250px">
                    <h2 class="font-size-regular"><a href="{{products.get_absolute_url}}">{{products.title}}</a></h2>
                    <p>{{products.description | truncatechars:100}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div class="display-4 text-capitalize">no info available, please check back later</div>
    {%endif%}
        </div>
    </div>
</div>

<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area section-padding-100-0">
    <div class="container">
        <section class="intro-single text-capitalize">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h2 class="title-single" style="font-family: Aclonica; color:#000000">BLOG</h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <div class="title-link">
                                    <a href="{% url 'blogs' %}">POSTS
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <!-- Single Blog Post Area -->
        {% for post in post %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="{{post.get_absolute_url}}"><img src="{{post.photo.url}}" alt="" style="height:300px;"></a>
                    </div>
                    <div class="post-content">
                        <a href="{{post.get_absolute_url}}" class="post-title">
                            <h5>{{post.title}}</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.date_published}}</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{post.author_name}}</a>
                        </div>
                        <p class="post-excerpt">{{post.content | truncatechars:300}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
{% endblock %}